<section class="contact py-20 px-10 flex items-center justify-center">

    <h1 class="primary-h text-5xl font-bold mb-10">Registration</h1>

    <div class="container mx-auto flex items-center justify-center">
        <div class="w-full max-w-xl flex items-center justify-center">
            <form action="/registration" method="POST" class="w-full max-w-lg shadow-md rounded px-4 pt-10 pb-3 bg-white">
                <% if(messages.error){ %> 
                <span class="block bg-red-100 py-5 rounded mb-5 w-full text-center text-red-500 text-sm"><%= messages.error %></span>
                <% } %>
                <div class="flex flex-wrap -mx-3 mb-6">
                  <div class="w-full md:w-1/2 px-3 mb-3 md:mb-0">
                    <!-- FIRST NAME FIELD -->
                    <input name="fName" value="<%= messages.fName %>" class="appearance-none block w-full bg-gray-200 text-gray-700 border rounded py-3 px-4 mb-3 leading-tight focus:outline-none focus:bg-white" id="grid-first-name"  type="text" placeholder="First name">
                  </div>
                  <div class="w-full md:w-1/2 px-3">
                    <!-- LAST NAME FIELD -->
                    <input name="lName" value="<%= messages.lName %>" class="appearance-none block w-full bg-gray-200 text-gray-700 border border-gray-200 rounded py-3 px-4 leading-tight focus:outline-none focus:bg-white focus:border-gray-500" id="grid-last-name" type="text" placeholder="Last name">
                  </div>
                </div>
                <div class="flex flex-wrap -mx-3 mb-3">
                  <div class="w-full px-3">
                    <!-- USERNAME FIELD -->
                    <input name="userName" value="<%= messages.userName %>" class="appearance-none block w-full bg-gray-200 text-gray-700 border border-gray-200 rounded py-3 px-4 mb-3 leading-tight focus:outline-none focus:bg-white focus:border-gray-500" id="grid-password" type="text" placeholder="Username">
                  </div>
                </div>
                <div class="flex flex-wrap -mx-3 mb-3">
                  <div class="w-full px-3">
                    <!-- EMAIL FIELD -->
                    <input name="email" value="<%= messages.email %>" class="appearance-none block w-full bg-gray-200 text-gray-700 border border-gray-200 rounded py-3 px-4 mb-3 leading-tight focus:outline-none focus:bg-white focus:border-gray-500" id="grid-password" type="email" placeholder="Email">
                  </div>
                </div>
                <div class="flex flex-wrap -mx-3 mb-6">
                    <div class="w-full px-3">
                      <!-- PASSWORD FIELD -->
                        <input name="password" class="appearance-none block w-full bg-gray-200 text-gray-700 border border-gray-200 rounded py-3 px-4 mb-3 leading-tight focus:outline-none focus:bg-white focus:border-gray-500" type="password" placeholder="Password">
                    </div>
                </div>
                <div class="flex flex-wrap -mx-3 mb-6">
                    <div class="w-full px-4"></div>
                    <!-- SUBMIT FIELD -->
                        <button class="primary-btn block w-full mx-2 rounded py-3 px-4 mb-3 text-white font-bold" type="submit">Submit</button>
                    </div>
                </div>
              </form>
          </div>
    </div>
    
</section>