<!--                  MENU_SECTION                 -->
<section class="menu py-20 px-10 mx-auto">
    <h1 class="cart-h1 text-5xl text-center font-bold mb-10">Menu</h1>
    <hr class="mb-20">
    <div class="container grid justify-around 2xl:grid-cols-5 xl:grid-cols-4 lg:grid-cols-3 md:grid-cols-2 sm:grid-cols-2 2xl:mx-auto xl:mx-auto lg:mx-auto md:mx-auto sm:gap-5 mx-auto">

        <% pizzas.forEach( function(pizza){ %>
            <div class="card rounded-lg w-64 text-center my-5 mx-auto">
                <img class="h-40 mb-4 mx-auto" src="img/<%= pizza.image %>" alt="">
                <div>
                    <h2 class="text-lg  mb-4 font-bold"><%= pizza.name %></h2>
                    <span class=" pizza-size font-light  py-1 px-6 rounded-full uppercase text-xs"><%= pizza.size %></span>
                    <div class="flex items-center justify-around my-5">
                        <p class="font-bold">$<%= pizza.price %></p>
                        <button data-pizza="<%= JSON.stringify(pizza) %>" class="add-to-cart secondary-btn px-6 py-1 rounded-full flex items-center font-bold"><span>+ </span> Add</button>
                    </div>
                </div>
            </div>
        <% }) %>

    </div>
</section>